@font-face {
  font-family: 'CabinetGrotesk';
  src: url('./font-files/CabinetGrotesk-Variable.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('./font-files/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Satoshi';
  src: url('./font-files/Satoshi-Variable.ttf');
}

@font-face {
  font-family: 'AzeretMono';
  src: url('./font-files/AzeretMono-Variable.ttf');
}
